.sort-card {
    display: flex;
    justify-content: center;
    align-items: center;   
    gap: 14px;
    font-size: 14px;
    font-weight: 700;
    color: var(--clr-secondary-text);
    background-color: var(--clr-primary-main);
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    box-shadow: 0.2rem 2rem 2rem rgba(0,0,0, 0.3);

}

.sort:hover {
    color: var(--clr-primary-text);
    cursor:pointer;
}

.sort.selected {
    color: var(--clr-primary-100);
}