.wrapper {
    width: min(80vw, 512px);
    box-shadow: 0.2rem 2rem 2rem rgba(0,0,0, 0.1);


}
.task-input {
    background-color: var(--clr-primary-main);
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 14px;
}

input {
    background-color: inherit;
    border: none;
    color: var(--clr-secondary-text);
}