.card { 
    background-color: var(--clr-primary-main);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--clr-secondary-text);
    box-shadow: 0.2rem 2rem 2rem rgba(0,0,0, 0.2);

}

.card:first-child {
    border-radius: 5px 5px 0px 0px;
}

.card:last-child {
    border-radius: 0px 0px 5px 5px;
    border-bottom: none;
    box-shadow: none;
}

.card div {
    flex-basis: 100%;
    padding: 0 1rem;
    color: var(--clr-primary-text);
}

.card i {
    background-color: inherit;
    color: var(--clr-secondary-text);
    border: none;
    cursor: pointer;
}

.card.completed div {
    text-decoration: line-through;
    color: var(--clr-secondary-text);
}

.clickable:hover,
.clickable:active {
    cursor:pointer;
    color: var(--clr-primary-text)
}

.break-word {
    word-break: break-word;
}

.disabled {
    opacity:0;
}

.card:hover .disabled,
.card:active .disabled{
    opacity: 1;
}

/* Checkbox Style */

input[type=checkbox] {
    -webkit-appearance: none;
    position: relative;
    padding: 9px;
    border: double 1px transparent;
    border-radius: 30px;
    background-image: linear-gradient(var(--clr-primary-main), var(--clr-primary-main)), 
                      linear-gradient(var(--clr-secondary-text), var(--clr-secondary-text));
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

input[type=checkbox]:hover,
input[type=checkbox]:active {
    background-image: linear-gradient(var(--clr-primary-main), var(--clr-primary-main)), 
                      var(--clr-check);
    cursor: pointer;
}

input[type=checkbox]:checked {
    background-image: var(--clr-check), 
                      var(--clr-check);
}

input[type=checkbox]:checked:after {
    content: '\2714';
	font-size: 12px;
	position: absolute;
	top: 0px;
	left: 4px;
	color: #FFF;
}