.header {
    background: var(--clr-check);
    padding: 4rem 5%;
    position: relative;
}

h1 {
    color: var(--light-gray);
    font-family: var(--ff-primary);
    letter-spacing: 0.3rem;
    margin-bottom: 1em;
}

.split {
    width: 512px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}