.options {
    background-color: var(--clr-primary-main);
    padding: 1.3rem 1rem;
    display: flex;
    justify-content: space-between;
    color: var(--clr-secondary-text);
    font-size: 12px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0.2rem 2rem 2rem rgba(0,0,0, 0.3);

}